<launch>
  <!-- Sidechain -->
  <arg name="web3_http_provider" default="https://sidechain.aira.life/rpc" />
  <arg name="web3_ws_provider" default="wss://sidechain.aira.life/ws" />
  <arg name="token_contract" default="0xC0D9E4a3289cD0b0EF1922C3941FeCfA6096525B" />
  <arg name="keyfile" default="" />

  <node name="worker" pkg="collector-agent" type="worker_node" output="screen">
    <param name="web3_http_provider" value="$(arg web3_http_provider)" />
    <param name="web3_ws_provider" value="$(arg web3_ws_provider)" />
    <param name="keyfile" value="$(arg keyfile)" />
    <param name="token_contract" value="$(arg token_contract)" />
    <param name="token_contract_abi" textfile="$(find collector-agent)/abi/token.json" />
  </node>
</launch>
