<launch>
    <arg name="validator" default="0x0000000000000000000000000000000000000000" />
    <arg name="lighthouse" default="0x202a09A451DE674d2d65Bf1C90968a8d8F72cf7b" />
    <arg name="token" default="0x966EbbFD7ECbCF44b1e05341976e0652CFA01360" />

    <group ns="checker">
        <node name="checker" pkg="issuing_service_agent" type="checker_node" output="screen">
            <param name="lighthouse" value="$(arg lighthouse)" />
            <param name="model" value="QmUB6ajZTLLMZg7re1v4hw44aoG8HDQDHr9JyujU264Aw2" />
            <param name="token" value="$(arg token)" />
            <param name="validator" value="$(arg validator)" />
            <param name="order_lifetime" value="100" />
        </node>
    </group>

    <group ns="issuer">
        <node name="issuer" pkg="issuing_service_agent" type="issuer_node" output="screen">
            <param name="energy_contract_json" textfile="$(find issuing_service_agent)/abi/EnergyToken.json" />
        </node>
    </group>
</launch>

