<launch>
    <arg name="emitter_contract" default="0x4b255d6E57409232F7C29759D5699dabE66f8Cd5" />
    <arg name="validator" default="0xaB47917719b01D102b434a7ca68335bB117e42e1" />
    <arg name="lighthouse" default="0xD40AC7F1e5401e03D00F5aeC1779D8e5Af4CF9f1" />
    <arg name="token" default="0x7dE91B204C1C737bcEe6F000AAA6569Cf7061cb7" />

    <group ns="checker">
        <node name="checker" pkg="issuing_service_agent" type="checker_node" output="screen">
            <param name="lighthouse" value="$(arg lighthouse)" />
            <param name="model" value="QmfK3LyEPLoYJCKXate1PceGLBNBaodwqcV9XirwHZFbsc" />
            <param name="token" value="$(arg token)" />
            <param name="validator" value="$(arg validator)" />
            <param name="order_lifetime" value="100" />
        </node>
    </group>

    <group ns="issuer">
        <node name="issuer" pkg="issuing_service_agent" type="issuer_node" output="screen">
            <param name="emitter_contract" value="$(arg emitter_contract)" />
            <param name="emitter_contract_abi" textfile="$(find issuing_service_agent)/abi/emitter.json" />
        </node>
    </group>
</launch>
